@import "tailwindcss";

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6,
.sec-title .title {
  font-family: var(--font-primary) !important;
  font-weight: 700;
  text-transform: uppercase;
}
/* Body text */
p, span {
  font-family: var(--font-primary);
  font-weight: 400;
  text-transform: none;
}
